/* ========== RESET ==========  */

* {
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 15px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

/* ========== VARIABLES ========== */

:root {
    --primary-color: #0065FC;
    --secondary-color: #DEEBFF;
    --grey-color: #F2F2F2;
    --alternative-grey-color: #D7D7D7;
}

/* ========== HEADER ========== */

header {
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin: 0 30px;
}

/* ---- Logo ---- */

.header__logo {
    position: relative;
    width: 200px;
}

.header__logo img{
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }


/* ---- Nav ---- */

header nav {
    display: flex;
    height: 100%;
}

header ul {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

header li {
    position: relative;
    padding: 0 30px;
}

header li a {
    font-size: 16px;
}

header ul a:hover {
    color: var(--primary-color);
    text-shadow: var(--primary-color) 0 0 1px;
}

header li:hover a::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top: -51px;
    left: 0;
    background-color: var(--primary-color);
}

/* ========== MAIN ========== */

main {
    max-width: 1450px;
    margin: auto;
}


/* ========== SECTION: SEARCH ========== */

/* ---- Search input ---- */

.research {
    margin: 0 50px;
}

.research h1 {
    font-size: 22px;
    margin-bottom: 0;
    font-weight: 800;
}

.research p {
    margin-top: 10px;
}

.research__input-form {
    position: relative;
    margin-bottom: 30px;
}

.research__input-form label i {
    padding: 15px;
    font-size: 18px;
    border: 1px solid var(--grey-color);
    border-radius: 15px 0 0 15px;
    background-color: var(--grey-color);
}

.research__input-form #city-search {
    padding: 15px 60px 15px 20px;
    position: absolute;
    left: 45px;
    border: 1px solid var(--grey-color);
} 

.research__input-form #city-search::placeholder {
    opacity: 1;
    color: #000;
    font-size: 18px;
    font-weight: 800;
}

.research__input-form #city-search:focus {
    outline: none;
}

.research__input-form .send {
    position: absolute;
    color: #fff;
    height: 100%;
    font-size: 17px;
    font-weight: 600;
    background-color: var(--primary-color);
    border: 1px solid var(--grey-color);
    padding: 15px;
    border-radius: 0 15px 15px 0;
    left: 280px;
    cursor: pointer;
}

.research__input-form .send p {
    position: relative;
    top: -10px;
}

.research__input-form .send i {
    display: none;
}

.research__input-form .send:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: .3s;
}

/* ---- Search filter */

.research__filter {
    display: flex;
    width: 100%;
}

.research__filter h2 {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 800;
}

.research__filter ul {
    display: flex;
    flex-wrap: wrap;
}

.research__filter li {
    position: relative;
    border: var(--alternative-grey-color) solid 2px;
    border-radius: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
    padding: 10px 20px 10px 50px;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
}

.research__filter li:hover {
    background-color: var(--primary-color);
    color: #fff;
    transform: scale(1.05);
    transition: .3s;
}

.research__filter li:hover i {
    border: 2px solid var(--primary-color);
    transition: .3s;
}

.research__filter li i {
    position: absolute;
    left: -11px;
    top: -2px;
    padding: 13px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    margin-right: 10px;
}

.research__search-info {
    display: flex;
}

.research__search-info i {
    display: flex;
    color: var(--primary-color);
    width: 8px;
    height: 8px;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin: 5px 10px 0 0;
    border: var(--alternative-grey-color) 1px solid;
    border-radius: 50%;
    font-size: 13px;
}


/* ========== SECTION ACCOMMODATION ========== */

.accommodation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 50px 40px 50px;
}


/* ---- left part ---- */

.accommodation__city {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--grey-color);
    width: 65%;
    border-radius: 25px;
}

.accommodation__city h2 {
    font-size: 22px;
    font-weight: 800;
    margin:  40px 0 0 30px;
}

.accommodation__city .card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.accommodation__city .card {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 250px;
    border-radius: 25px;
    margin: 15px 10px;
    box-shadow: var(--alternative-grey-color) 0 0 15px;
}

.accommodation__city .card:hover {
    background-color: var(--secondary-color);
    box-shadow: black 0 0 15px;
    transform: scale(1.03);
    transition: .3s;
}

.accommodation__city .card-image img {
    display: flex;
    width: 240px;
    height: 115px;
    border-radius: 20px 20px 0 0;
    margin-top: 5px;
    object-fit: cover;
}

.accommodation__city .card-body {
    margin: 0 10px;
}

.accommodation__city .card-title h3 {
    margin: 10px 0 0 0;
    font-weight: 800;
    font-size: 16px;
}

.accommodation__city > a:hover {
    text-shadow: var(--primary-color) 0 0 1px;
    color: var(--primary-color);
}

.accommodation__city .card-info p {
    margin: 5px 0 0 0;
    font-size: 14px;
}

.accommodation__city .card-info span {
    font-weight: 800;
    font-size: 14px;
}

.accommodation__city .card-stars i {
    color: var(--primary-color);
    font-size: 12px;
    margin: 0 0 10px 0;
    letter-spacing: -3px;
}

.accommodation__city .card-stars .grey-star {
    color: var(--alternative-grey-color);
}

.accommodation__city > a p {
    font-size: 18px;
    font-weight: 800;
    margin:  10px 0 40px 40px;
}


/* ---- right part ---- */

.accommodation__most-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey-color);
    width: 32%;
    border-radius: 25px;
}

.accommodation__most-popular .most-popular-title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.accommodation__most-popular .most-popular-title h2 {
    font-size: 22px;
    font-weight: 800;
    margin:  40px 0 0 30px;
}

.accommodation__most-popular .most-popular-title i {
    font-size: 22px;
    margin:  40px 0 0 30px;
}

.accommodation__most-popular .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.accommodation__most-popular .card {
    display: flex;
    justify-content: space-between;
    background-color: white;
    max-width: 345px;
    height: 150px;
    border-radius: 25px;
    box-shadow: var(--alternative-grey-color) 0 0 15px;
}

.accommodation__most-popular .card:hover {
    background-color: var(--secondary-color);
    box-shadow: black 0 0 15px;
    transform: scale(1.03);
    transition: .3s;
}

.accommodation__most-popular .card-image {
    display: flex;
    align-items: center;
}

.accommodation__most-popular .card-image img {
    display: flex;
    width: 135px;
    height: 140px;
    margin-left: 5px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.accommodation__most-popular .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 17px;
}

.accommodation__most-popular .card-title h3 {
    margin: 0 0 5px 0;
    font-weight: 800;
}

.accommodation__most-popular .card-title p {
    margin: 0;
    font-size: 14px;
}

.accommodation__most-popular .card-title span {
    font-weight: 800;
    font-size: 14px;
}


.accommodation__most-popular .card-stars i {
    color: var(--primary-color);
    font-size: 12px;
    letter-spacing: -3px;
}

.accommodation__most-popular .card-stars .grey-star {
    color: var(--alternative-grey-color);
}



/* ========== SECTION ACTIVITY ========== */

.activity {
    margin: 0 50px;
}

.activity__city {
    margin-bottom: 80px;
}

.activity__city h2 {
    padding: 20px 0 10px 0;
    font-size: 22px;
    font-weight: 800;
}

.activity__city .card-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 445px;
}

.activity__city .card-container .card {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow:var(--alternative-grey-color) 0 0 15px;
    width: 22%;
    height: 445px;
}

.activity__city .card-container .card:hover {
    background-color: var(--secondary-color);
    box-shadow: black 0 0 15px;
    transform: scale(1.03);
    transition: .3s;
}

.activity__city .card-container .card h3 {
    font-size: 15px;
    font-weight: 800;
    margin-left: 20px;
    margin-top: 10px;
}

.activity__city .card-container .card img {
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    height: 400px;
}

.activity__city .card-container .card-two {
    height: 240px;
}

.activity__city .card-container .card-two img {
    height: 195px;
}

.activity__city .card-container .card-three {
    height: 170px;
}

.activity__city .card-container .card-three img {
    height: 125px;
}

.activity__city .card-container .card-five {
    height: 200px;
}

.activity__city .card-container .card-five img {
    height: 155px;
}

.activity__city .card-container .card-six {
    height: 210px;
}

.activity__city .card-container .card-six img {
    height: 165px;
}


/* ========== FOOTER ========== */

footer {
    background-color: var(--grey-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.footer-container h2 {
    margin-top: 50px;
}

.footer-container h2 a {
    font-size: 18px;
    font-weight: 800;
}

.footer-container a:hover{
    color: var(--primary-color);
    text-shadow: var(--primary-color) 0 0 1px;
}

.footer-container ul {
    padding: 0;
}

.footer-container ul li {
    padding-bottom: 15px;
}


/* ========== MEDIA QUERIES ========== */


/* <<<<< BREAKPOINT ACCOMMODATION + ACTIVITY >>>>> */


@media (max-width: 1350px) {

    /* ---- accommodation section ---- */

    .accommodation {
        flex-direction: column-reverse;
        margin: 0;
    }

    .accommodation__most-popular {
        width: 100%;
        border-radius: 0;
        padding-bottom: 20px;
    }

    .accommodation__most-popular .card-container {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .accommodation__most-popular .most-popular-title {
        justify-content: flex-start;
        margin-bottom: 10px;
    }

    .accommodation__most-popular .card-container .card {
        margin: 10px;
    }

    .accommodation__city {
        width: 100%;
        background-color: #fff;
    }

    .accommodation__city .card-container {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .accommodation__city .card {
        width: 100%;
        max-width: 335px;
        height: 200px;
        margin: 10px;
    }

    .accommodation__city .card a {
        width: 100%;
        max-width: 335px;
    }
    
    .accommodation__city .card-image img {
        display: flex;
        width: 97%;
        margin: 5px auto 0;
        height: 115px;
        border-radius: 20px 20px 0 0;
        margin-top: 5px;
        object-fit: cover;
    }


    /* ---- activity section ---- */
    
    .activity {
        margin: 0;
    }

    .activity h2 {
        margin-left: 30px;
    }

    .activity__city .card-container {
        flex-flow: row wrap;
        justify-content: space-evenly;
        height: auto;
    }
    
    .activity__city .card-container .card {
        width: 335px;
        height: 200px;
        margin: 10px;
    }
    
    .activity__city .card-container .card img {
        height: 155px;
    }
}

/* <<<<< PHONE >>>>> */

@media (max-width: 768px) {

    /* ---- header ---- */

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        margin: 0;
    }

    .header__logo {
        position: relative;
    }

    .header__logo img {
        position: relative;
        left: 125px;
    }

    header nav {
        display: flex;
        width: 100%;
    }

    header nav ul {
        justify-content: space-around;
        width: 100%;
    }

    header nav ul li {
        width: 50%;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    header ul li:not(:hover) a::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        top: 30px;
        left: 0;
        background-color: var(--alternative-grey-color);
    }

    header ul li:hover a::before {
        top: 30px;
    }


    /* ---- research section ---- */

    .research {
        margin: 0 20px;
    }

    .research__input-form {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .research__input-form #city-search {
        padding: 15px 10px 15px 10px;
    } 

    .research__input-form .send {
        border-radius: 15px;
        padding: 15px;
        left: 230px;
    }
    
    .research__input-form .send {
        font-size: 0;  
    }

    .research__input-form .send i {
        display: inline;
        color: #fff;
        cursor: pointer;
    }

    .research__input-form .send:hover i {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        transition: 1s;
    }

    .research__filter {
        flex-direction: column;
        margin: 0;
    }

    .research__filter ul {
        padding: 0;
    }

    .research__filter h2 {
        margin: 20px 0 0 0;
    }


    /* ---- accommodation section ---- */

    .accommodation {
        margin: 0;
    }

    .accommodation__city h2 {
        margin: 40px 0 10px 20px;
    }

    .most-popular-title {
        margin-bottom: 10px;
    }

    .accommodation__most-popular .card-container {
        flex-direction: column;
        align-items: center;
    }


    .accommodation__most-popular .card-container .card .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    /* ---- activity section ---- */

    .activity__city {
        margin-bottom: 50px;
    }

    /* ---- Footer ---- */
    
    .footer-container {
        flex-direction: column;
        padding-top: 50px;
        margin: 0 0 0 40px;
    }

    .footer-container h2 {
        margin: 10px 0px;
    }
}