/* ---- FONT ---- */

@font-face {
    font-family: "raleway-bold";
    src: url(/assets/fonts/Raleway/static/Raleway-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "raleway-medium";
    src: url(/assets/fonts/Raleway/static/Raleway-Medium.ttf) format("truetype");
}

/* ---- RESET ----  */

* {
    box-sizing: border-box;
    list-style-type: none;
    font-family: "raleway-medium", sans-serif;
    font-size: 17px;
    scroll-behavior: smooth;
}

body {
    margin: auto;
    max-width: 1450px;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 22px;
    font-family: "raleway-bold";
}



/* ========== HEADER ========== */

header {
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin: 0 30PX;
}

/* ---- Logo ---- */

header .logo {
    position: relative;
    width: 200px;
}

header .logo img{
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

/* ---- Nav ---- */

header nav {
    display: flex;
    height: 100%;
}

header ul {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

header ul li {
    position: relative;
    padding: 0 30px;
}

header ul li a {
    font-size: 16px;
}

header ul a:hover {
    color: #0065FC;
    text-shadow: #0065FC 0 0 1px;
}

header ul li:hover a::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top: -51px;
    left: 0;
    background-color: #0065FC;
}

/* ========== SECTION: SEARCH ========== */

/* ---- Search input ---- */

.research {
    margin: 0 50px;
}

.research h1 {
    margin-bottom: 0;
}

.research p:first-of-type {
    margin-top: 10px;
}

.input-form {
    position: relative;
    margin-bottom: 30px;
}

.input-form label i {
    padding: 16px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
}

.input-form #city-search {
    padding: 15px 60px 15px 20px;
    position: absolute;
    left: 45px;
    border: 1px solid #F2F2F2;
    font-weight: bold;
} 

.input-form #city-search::placeholder {
    color: black;
    font-weight: bold;
}

.input-form #city-search:focus {
    outline: none;
}

.input-form .send {
    position: absolute;
    color: white;
    background-color: #0065FC;
    border: 1px solid #F2F2F2;
    padding: 15px;
    border-radius: 0 15px 15px 0;
    left: 280px;
    cursor: pointer;
}

.input-form .send:hover {
    background-color: #DEEBFF;
    color: #0065FC;
    transition: .3s;
}


/* ---- Search filter */

.research .filter {
    display: flex;
    width: 100%;
}

.research .filter h3 {
    margin-top: 30px;
}

.research .filter-ul {
    display: flex;
    flex-wrap: wrap;
}

.research .filter-li {
    position: relative;
    border: #D7D7D7 solid 2px;
    border-radius: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
    padding: 12px 20px 12px 50px;
    font-weight: bold;
    cursor: pointer;
}

.research .filter-li:hover {
    background-color: #0065FC;
    color: white;
    transition: .3s;
}

.research .filter-li:hover i {
    border: 2px solid #0065FC;
    transition: .3s;
}

.research .filter-li i {
    position: absolute;
    left: -11px;
    top: -2px;
    padding: 13px;
    background-color: #DEEBFF;
    color: #0065FC;
    border: 2px solid #DEEBFF;
    border-radius: 50%;
    margin-right: 10px;
}

.research .search-info {
    display: flex;
}

.research .search-info i {
    display: flex;
    color: #0065FC;
    width: 8px;
    height: 8px;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin: 5px 10px 0 0;
    border: #D7D7D7 1px solid;
    border-radius: 50%;
    font-size: 13px;
}

/* ========== SECTION ACCOMMODATION ========== */

.accommodation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 50px;
}

/* ---- left part ---- */

.city-accommodation {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    width: 65%;
    border-radius: 25px;
}

.city-accommodation h2 {
    font-size: 22px;
    margin:  40px 0 0 30px;
}

.city-accommodation h3 {
    font-size: 18px;
    margin:  10px 0 40px 40px;
}

.city-accommodation .card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.city-accommodation .card {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 250px;
    border-radius: 25px;
    margin: 15px 10px;
    box-shadow: #D7D7D7 0 0 15px;
}

.city-accommodation .card:hover {
    background-color: #DEEBFF;
    box-shadow: black 0 0 15px;
    transition: .3s;
}

.city-accommodation .card-image img {
    display: flex;
    width: 240px;
    height: 115px;
    border-radius: 20px 20px 0 0;
    margin-top: 5px;
    object-fit: cover;
}

.city-accommodation .card-body {
    margin: 0 10px;
}

.city-accommodation .card-title h3 {
    margin: 10px 0 0 0;
    font-size: 16px;
}

.city-accommodation .afficher-plus:hover {
    text-shadow: #0065FC 0 0 1px;
    color: #0065FC;
}

.city-accommodation .card-info p {
    margin: 5px 0 0 0;
    font-size: 14px;
}

.city-accommodation .card-info span {
    font-weight: bold;
}

.city-accommodation .card-stars i {
    color: #0065FC;
    font-size: 12px;
    margin: 0 0 10px 0;
    letter-spacing: -3px;
}

.city-accommodation .cannebiere-card .card-stars .star5,
.city-accommodation .mouettes-card .card-stars .star5,
.city-accommodation .mer-card .card-stars .star5,
.city-accommodation .mer-card .card-stars .star4,
.city-accommodation .panier-card .card-stars .star5 {
    color: #D7D7D7;
}


/* ---- right part ---- */

.most-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 32%;
    border-radius: 25px;
}

.most-popular .most-popular-title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.most-popular .most-popular-title h2 {
    font-size: 22px;
    margin:  40px 0 0 30px;
}

.most-popular .most-popular-title i {
    font-size: 22px;
    margin:  40px 0 0 30px;
}



.most-popular .card-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}


.most-popular a {
    display: flex;
}

.most-popular .card {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 345px;
    height: 150px;
    border-radius: 25px;
    box-shadow: #D7D7D7 0 0 15px;
}

.most-popular .card:hover {
    background-color: #DEEBFF;
    box-shadow: black 0 0 15px;
    transition: .3s;
}

.most-popular .card-image {
    display: flex;
    align-items: center;
}

.most-popular .card-image img {
    display: flex;
    width: 135px;
    height: 140px;
    margin-left: 5px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.most-popular .card-body {
    position: relative;
    margin: 5px 20px 0 20px;
    padding: 0;
    font-size: 16px;
}

.most-popular .card-body h3 {
    margin-bottom: 5px;
    font-size: 16px;
}

.most-popular .card-info p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.most-popular .card-info span {
    font-weight: bold;
}

.most-popular .card-stars i {
    position: relative;
    color: #0065FC;
    font-size: 12px;
    top: 45px;
    letter-spacing: -3px;
}

.most-popular .eau-card .card-stars .star5,
.most-popular .blanc-card .card-stars .star5 {
    color: #D7D7D7;
}


/* ========== SECTION ACTIVITY ========== */

.activity{
    margin: 0 50px;
}

.city-activity {
    margin-bottom: 80px;
}

.activity .city-activity h2 {
    padding: 20px 0 10px 0;
    font-size: 22px;
}

.activity .city-activity .card-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 445px;
}

.activity .city-activity .card-container .card {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow:#D7D7D7 0 0 15px;
    width: 22%;

}

.activity .city-activity .card-container .card:hover {
    background-color: #DEEBFF;
    box-shadow: black 0 0 15px;
    transition: .3s;
}


.activity .city-activity .card-container .card h3{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 5px;
}

.activity .city-activity .card-container .card img {
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.activity .city-activity .card-container .card-one,
.activity .city-activity .card-container .card-four
 {
    height: 445px;
}

.activity .city-activity .card-container .card-one img,
.activity .city-activity .card-container .card-four img
 {
    height: 400px;
}

.activity .city-activity .card-container .card-two {
    height: 240px;
}

.activity .city-activity .card-container .card-two img {
    height: 195px;
}

.activity .city-activity .card-container .card-three {
    height: 170px;
}

.activity .city-activity .card-container .card-three img {
    height: 125px;
}

.activity .city-activity .card-container .card-five {
    height: 200px;
}

.activity .city-activity .card-container .card-five img {
    height: 155px;
}

.activity .city-activity .card-container .card-six {
    height: 210px;
}

.activity .city-activity .card-container .card-six img {
    height: 165px;
}


/* ========== FOOTER ========== */

footer {
    background-color: #F2F2F2;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.footer-container h2 {
    margin-top: 50px;
}

.footer-container h2 a {
    font-size: 18px;
}

.footer-container a:hover{
    color: #0065FC;
    text-shadow: #0065FC 0 0 1px;
}


.footer-container ul {
    padding: 0;
}

.footer-container ul li {
    padding-bottom: 15px;
}




/* ========== MEDIA QUERIES ========== */


/* <<<<< BREAKPOINT ACCOMMODATION + ACTIVITY*/

@media (max-width: 1259px) {
    .accommodation {
        flex-direction: column-reverse;
    }

    .accommodation .most-popular {
        width: 100%;
        border-radius: 0;
        padding-bottom: 20px;
    }

    .accommodation .most-popular .card-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .accommodation .most-popular .most-popular-title {
        justify-content: flex-start;
        margin-bottom: 10px;
    }

    .accommodation .most-popular .card-container .card {
        margin: 10px;
    }


    .accommodation .city-accommodation {
        width: 100%;
        background-color: white;
    }

    .accommodation .city-accommodation .card-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .accommodation .city-accommodation .card-container .card {
        margin: 20px;
    }

    .activity .city-activity .card-container {
        flex-flow: row wrap;
        justify-content: space-evenly;
        height: auto;
    }

    
    .activity .city-activity .card-container .card-one,
    .activity .city-activity .card-container .card-two, 
    .activity .city-activity .card-container .card-three, 
    .activity .city-activity .card-container .card-four,
    .activity .city-activity .card-container .card-five, 
    .activity .city-activity .card-container .card-six {
        width: 335px;
        height: 200px;
        margin: 10px;
    }
    
    .activity .city-activity .card-container .card-one img,
    .activity .city-activity .card-container .card-two img, 
    .activity .city-activity .card-container .card-three img, 
    .activity .city-activity .card-container .card-four img,
    .activity .city-activity .card-container .card-five img, 
    .activity .city-activity .card-container .card-six img {
        height: 155px;
    }

}

/* <<<<< PHONE >>>>> */

@media (max-width: 768px) {

    /* ---- header ---- */

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        margin: 0;
    }

    header .logo {
        position: relative;
    }

    header .logo img {
        position: relative;
        left: 125px;
    }

    header nav {
        display: flex;
        width: 100%;
    }

    header nav ul {
        justify-content: space-around;
        width: 100%;
    }

    header nav ul li {
        width: 50%;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    header ul li:not(:hover) a::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        top: 30px;
        left: 0;
        background-color: #D7D7D7;
    }

    header ul li:hover a::before {
        top: 30px;
    }

    /* ---- Section research ---- */

    .research {
        margin: 0 20px;
    }

    .research .input-form {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .research .send {
        display: none;
    }

    .research .icon-send {
        position: absolute;
        color: white;
        background-color: #0065FC;
        border: 1px solid #F2F2F2;
        padding: 15px;
        border-radius: 15px;
        left: 290px;
        cursor: pointer;
    }

    .research .icon-send:hover {
        background-color: #DEEBFF;
        color: #0065FC;
        transition: .3s;
    }

    .research .filter {
        flex-direction: column;
        margin: 0;
    }

    .research .filter-ul {
        padding: 0;
    }

    .research h3 {
        margin: 0;
    }

    /* ---- Section Accommodation ---- */

    .accommodation {
        margin: 0;
    }

    .accommodation .most-popular-title {
        margin-bottom: 10px;
    }

    .activity .city-activity {
        margin-bottom: 50px;
    }

    .accommodation .city-accommodation .card {
        width: 335px;
        height: 200px;
        margin: 0;
    }
    
    .accommodation .city-accommodation .card-image img {
        display: flex;
        width: 325px;
        height: 115px;
        border-radius: 20px 20px 0 0;
        margin-top: 5px;
        object-fit: cover;
    }

    .accommodation .most-popular .card-container {
        flex-direction: column;
    }

    .accommodation .city-accommodation .card-container .card {
        margin: 10px;
    }

    .city-accommodation h2 {
        margin: 40px 0 10px 30px;
    }

    /* ---- Footer ---- */

    
    .footer-container {
        flex-direction: column;
    }