/* ---- FONT ---- */

@font-face {
    font-family: "raleway-bold";
    src: url(/assets/fonts/Raleway/static/Raleway-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "raleway-medium";
    src: url(/assets/fonts/Raleway/static/Raleway-Medium.ttf) format("truetype");
}

/* ---- RESET ----  */

* {
    box-sizing: border-box;
    list-style-type: none;
    font-family: "raleway-medium", sans-serif;
    font-size: 17px;
}

body {
    margin: auto;
    max-width: 1450px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 22px;
    font-family: "raleway-bold";
}



/* ========== HEADER ========== */

header {
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin: 0 30PX;
}

/* ---- Logo ---- */

header .logo {
    position: relative;
    width: 200px;
}

header .logo img{
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

/* ---- Nav ---- */

header nav {
    display: flex;
    height: 100%;
}

header ul {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

header ul li {
    position: relative;
    padding: 0 30px;
}

header ul li a {
    font-size: 16px;
}

header ul a:hover {
    color: #0065FC;
}

header ul li:hover a::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top: -51px;
    left: 0;
    background-color: #0065FC;
    color: #0065FC;
}

/* ========== SECTION: SEARCH ========== */

.research {
    margin: 0 50px;
}

.research h1 {
    margin-bottom: 0;
}

.research p {
    margin-top: 10px;
}

.input-form {
    position: relative;
}

.input-form label i {
    padding: 16px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
}

.input-form #city-search {
    padding: 15px;
    position: absolute;
    left: 45px;
    border: 1px solid #F2F2F2;
} 

.input-form #city-search::placeholder {
    color: black;
    font-weight: bold;
}

.input-form #city-search:focus {
    outline: none;
}

.input-form .send {
    position: absolute;
    color: white;
    background-color: #0065FC;
    border: 1px solid #F2F2F2;
    padding: 15px;
    border-radius: 0 15px 15px 0;
    left: 250px;
}